.next
.venv
backup
discord.log
.env
dist
.vscode
projects
.vercel
database/database.db
changenodeenv.js
node_modules
dawg.txt
deps
ai/data/data_math.csv
ai/data/data_math_validation.csv
ai/tfx_metadata
ai/tfx_metadata/lyai
ai/tfx_pipeline_output
ai/tfx_pipeline_output/lyai
ai/tfx_pipeline_output/lyai/CsvExampleGen
ai/pipeline/__pycache__
ai/models/keras_model/__pycache__
ai/models/__pycache__
ai/__pycache__
python_stuff
installer
nothin-tosee.txt
ai/models/bert-base-uncased
ai/models/distilbert-base-uncased
ai/models/distilgpt2_model
ai/models/distilgpt2_tokenizer
ai/models/mobilenetv2.keras
ai/models/mobilenetv3
.pytest_cache
src
.prettierignore
.gitignore
chores.txt