.next
.venv
backup
discord.log
.env
dist
.vscode
projects
.vercel
database/database.db
node_modules
dawg.txt
deps
ai/__pycache__
python_stuff
installer
nothin-tosee.txt
.pytest_cache
src
.prettierignore
.gitignore
chores.txt