.next
.venv
backup
discord.log
.env
dist
.vscode
projects
.vercel
database/database.db
node_modules
dawg.txt
deps
ai/models/__pycache__
ai/__pycache__
python_stuff
installer
nothin-tosee.txt
.pytest_cache
chores.txt
.idea
tf_model.h5
ai/data/sentiment140.csv
__pycache__
model.safetensors
spiece.model
.megaignore
main
main/main.cpp
main/main.h
t5-small
logs.txt
distilgpt2
ai/LyChessEngine
cache
*.sqlite
todo.txt
.env.local